/* Manrope: 200–800 */
@import "@fontsource/manrope/200.css";
@import "@fontsource/manrope/300.css";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";
@import "@fontsource/manrope/600.css";
@import "@fontsource/manrope/700.css";
@import "@fontsource/manrope/800.css";

/* Mulish: 200–900 */
@import "@fontsource/mulish/200.css";
@import "@fontsource/mulish/300.css";
@import "@fontsource/mulish/400.css";
@import "@fontsource/mulish/500.css";
@import "@fontsource/mulish/600.css";
@import "@fontsource/mulish/700.css";
@import "@fontsource/mulish/800.css";
@import "@fontsource/mulish/900.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

body {
    margin: 0;
    padding: 0;
}

img {
    pointer-events: none;
}

.page,
.siteHeader,
.siteFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 100px;
    gap: 50px;
    overflow: hidden;
}

/* ХЭДЕР СТИЛИ */

.siteHeader .container{
    flex-direction: row;
    justify-content: space-between;
    background-color: #1FC9C426;
    padding: 25px;
    border-radius: 24px;
    align-items: center;
}

.container .menu{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.container .menu .menuItem{
    color: var(--blue);
    font-family: Mulish;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
    position: relative;
}

.container .headerInfo{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.container .headerInfo .blindMode{
    width: 40px;
    height: 40px;
}

.headerInfo .phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: Mulish;
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
    transition: 0.5s;
}

.headerInfo .phone:hover{
    color: var(--red);
}

.headerInfo .buttonHead{
    font-family: Mulish;
    background-color: var(--red);
    color: var(--white);
    padding: 15px;
    font-weight: 700;
    border-radius: 16px;
}

.container .menu .menuItem:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: var(--red);
    
    /* главное */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.container .menu .menuItem:hover::after{
    transform: scaleX(1);
}

.container .menu .menuItem:hover{
    color: var(--red);
}

.container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

:root {
    --mul: 'Mulish', sans-serif;
    --man: "Manrope", sans-serif;
    --sizeH1: clamp(1.25rem, 0.9531rem + 1.3575vw, 3.125rem);
    --sizeH2: clamp(1rem, 0.7624rem + 1.086vw, 2.5rem);
    --sizeH3: clamp(1rem, 0.8812rem + 0.543vw, 1.75rem);
    --sizeText: clamp(0.75rem, 0.6906rem + 0.2715vw, 1.125rem);
    --blue: #2A2F59;
    --red: #AC182E;
    --white: #FFF;
    --black: #000;
    --green: #1FC9C4;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}

ul,
ol {
    padding-left: 20px;
}

@media (max-width: 1440px) {
    .page,
    .siteHeader,
    .siteFooter {
        padding: 50px;
    }
    

    .page .container {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .page,
    .siteHeader,
    .siteFooter {
        padding: 25px;
    }

    /* ХЭДЕР МОБИЛЬНЫЙ */

   /* Скрываем меню */
    .container .menu {
        display: none;
        position: absolute;
        top: 100%;        /* прямо под хедером */
        right: 0;         /* привязка к правому краю */
        width: 200px;     /* ширина выпадающего меню */
        flex-direction: column;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border-radius: 0 0 24px 24px;
        z-index: 10;
    }

    .container .menu.active {
        display: flex;
    }

    /* Бургер справа */
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        order: 1; /* бургер остаётся справа в потоке */
    }

    .burger span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--blue);
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
/* 
    .buttonHead{
        display: none;
    } */

    .blindMode{
        display: none;
    }

}

@media (max-width: 700px) {
    .page,
    .siteHeader,
    .siteFooter {
        padding: 25px 10px;
        gap: 25px;
    }

    /* ХЭДЕР МОБИЛЬНЫЙ */
    .buttonHead{
        display: none;
    }
    
    .phone{
        font-size: 16px;
    }

}