

/* Стили баннер */

.banner{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 25px;
    height: 600px;
    background-color: var(--green);
    overflow: hidden;
    border-radius: 32px;
    padding: 25px;
    position: relative;
    z-index: 1;
}

.banner:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/public/images/svg/beforeBackBanner.svg);
    z-index: -1;
    background-repeat: no-repeat;
    transition: 0.9s;
}

.banner:hover:before{
    transform: scale(2);
    rotate: calc(50deg);
}

.banner:hover .bannerImg:before{
    transform: scale(1.1);
    
}

.bannerCont{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    height: 525px;
}

.bannerText{
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
}

.bannerIvite{
    font-family: var(--mul);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.bannerTitle{
    font-family: var(--man);
    text-transform: uppercase;
    font-weight: 800;
    color: var(--white);
    font-size: 48px;
}

.bannerTitle span{
    color: var(--red);
}

.bannerBtn{
    font-family: var(--mul);
    color: var(--white);
    background-color: var(--red);
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 275px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: auto;
}

.bannerBtn:hover{
    transform: scale(1.05);
}

.bannerImg{
    position: relative;
}

.bannerImg:before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(/public/images/bannerGirl.png);
    transition: 0.9s;
}

/* СТИЛИ ПРЕИМУЩЕСТВ */

.adv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.advItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 32px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.advItem:hover{
    transform: translateY(-10px);
}

.advItemImg{
    display: flex;
    flex-direction: column;
    position: relative;
}

.advItem img{
    width: 250px;
    height: 250px; 
    z-index: 1;
}

.advTitle{
    font-family: var(--mul);
    color: var(--blue);
    font-weight: 700;
    font-size: 28px;
    position: relative;
}

/* БИФОРКИ КАРТОЧЕК + HOVER */
    

.advItem:nth-child(1):before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: 150%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/public/images/svg/beforeLine.svg);
}

.advItem:nth-child(1) .advItemImg:before{
    content: "";
    top: 0;
    left: -25px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 250px;
    position: absolute;
    background-image: url(/public/images/svg/beforeStars.svg);
    transition: 0.8s;
}

.advItem:nth-child(1):hover .advItemImg:before{
    transform: rotate(45deg);
}

.advItem:nth-child(2):before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: 150%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/public/images/svg/beforeClouds.svg);
    transition: 0.8s;
}

.advItem:nth-child(2):hover:before{
    transform: scale(1.09);
}

.advItem:nth-child(2) .advTitle:before{
    content: "";
    position: absolute;
    top: -35px;
    right: 225px;
    transform: rotate(20deg);
    width: 120px;
    height: 80px;
    background-image: url(/public/images/svg/beforeNimb.svg);
    background-repeat: no-repeat;
    transition: 0.8s;
}

.advItem:nth-child(2):hover .advTitle:before{
    transform: scale(1.1);
}

.advItem:nth-child(2) .advItemImg:before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 250px;
    position: absolute;
    transition: 0.8s;
    background-image: url(/public/images/svg/beforeStars.svg);
}

.advItem:nth-child(2):hover .advItemImg:before{
    transform: scale(1.05)
}

.advItem:nth-child(3):before{
    content: "";
    top: 50%;
    left: 45%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 400px;
    position: absolute;
    background-image: url(/public/images/svg/beforeThoughts.svg);
    transition: 0.8s;
}

.advItem:nth-child(3):hover:before{
    transform: translate(-50%, -50%) scale(1.1);
}


.advItem:nth-child(3) .advItemImg:before{
    content: "";
    top: 150px;
    left: -50px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 75px;
    position: absolute;
    background-image: url(/public/images/svg/beforeStarsRed.svg);
    transition: 0.8s;
}

.advItem:nth-child(3):hover .advItemImg:before{
    transform: scale(1.1);
}

.advItem:nth-child(3) .advItemImg:after{
    content: "";
    top: 0;
    left: 70%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 75px;
    position: absolute;
    background-image: url(/public/images/svg/beforeStarsOdniary.svg);
    transition: 0.8s;
}

.advItem:nth-child(3):hover .advItemImg:after{
    transform: rotate(10deg);
}

.advItem:nth-child(4):before{
    content: "";
    top: -35px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 400px;
    position: absolute;
    transition: 0.8s;
    background-image: url(/public/images/svg/beforeSun.svg);
}

.advItem:nth-child(4):hover:before{
    transform: rotate(-5deg);
}


.advItem:nth-child(4) .advItemImg:before{
    content: "";
    top: 50%;
    left: -75px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 100px;
    position: absolute;
    background-image: url(/public/images/svg/beforeStarRed.svg);
    transition: 0.8s;
}

.advItem:nth-child(4):hover .advItemImg:before{
    transform: rotate(-15deg);
}

.advItem:nth-child(4) .advItemImg:after{
    content: "";
    top: 10%;
    left: -300;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 325px;
    position: absolute;
    transition: 0.8s;
    background-image: url(/public/images/svg/beforeSky.svg);
}

.advItem:nth-child(4):hover .advItemImg:after{
    transform: scale(1.05);
}
